all:
  vars:
    ansible_user: <your_username>
    ansible_ssh_private_key_file: ~/.ssh/id_rsa
    ansible_become: yes
    ansible_become_method: sudo
    ansible_become_user: root

  children:

    docker_build:
      hosts:
        docker_builder_host:
          ansible_host: <your_hostname_or_ip>
          ansible_python_interpreter: /usr/bin/python3

    k8s:
      children:
        masters:
          hosts:
            k8s-master-01:
              ansible_host: <your_hostname_or_ip>

    local_exec:
      hosts:
        localhost:
          ansible_connection: local
          ansible_become: no
          ansible_python_interpreter: "{{ ansible_playbook_python }}"
