# playbooks/build.yml
- name: build src
  hosts: docker_build
  gather_facts: false
  
  tasks:
    - name: build application
      include_role:
        name: build-app
      loop: "{{ apps }}"
      loop_control:
        loop_var: app
      vars:
        go_versions: "{{ go.versions }}"
        go_proxy_url: "{{ go.proxy_url }}"
        app_name: "{{ app.name }}"
        app_repo: "{{ app.repo }}"
        app_versions: "{{ app.versions }}"
        app_dockerfile: "{{ app.dockerfile }}"
